body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

h3 {
  padding-top: 15rem;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

a:link,
a:visited,
a:hover,
.a:active {
  color: inherit;
  text-decoration: none;
}

div.container-1 > h1 {
  font-family: 'Fredericka the Great', cursive;
  margin: 0;
  padding-top: 7rem;
  padding-left: 4rem;
  font-size: 3.5rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
  color: #d0d9dd;
}

div.container-1 > p:first-of-type {
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

div.container-1 > p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #5c7b8b;
  font-size: 1rem;
  padding-left: 4rem;
  padding-right: 5rem;
}

.container-1 a:link,
.container-1 a:visited,
.container-1 a:hover,
.container-1 a:active {
  color: inherit;
  text-decoration: underline;
}

div:nth-child(1) {
  background: #003049;
  color: aliceblue;
}

div:nth-child(2) {
  background: #f1ecd1;
  color: #3b4149;
}
div.container-2 > h3,
div.container-7 > h3 {
  font-family: 'Amatic SC';
  padding: 7rem 4rem 0 4rem;
  font-size: 4.5rem;
  font-weight: bold;
}

div.container-2 > p,
div.container-7 > p {
  font-family: 'Josefin Sans';
  padding-left: 4rem;
  padding-right: 5rem;
  padding-top: 2.5rem;
  font-size: 1.2rem;
}

div.container-3 {
  background-image: url("images/image-1.jpg");
  background-position: center;
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
div.container-3 > h3 {
  font-family: 'Julius Sans One';
  padding: 5rem 5rem 0 5rem;
  font-size: 3rem;
}
div.container-3 > p {
  font-family: 'Archivo Narrow';
  padding-top: 2.5rem;
  font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

div.container-4 {
  background: #d93b3b;
  color: #0b152f;
  font-family: 'Lora', serif;
  text-align: right;
}
div.container-4 > hr {
  border: 0.2rem solid #0b152f;
  border-width: 0.07rem;
  width: 20rem;
  text-align: right;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 0;
}
div.container-4 > h3 {
  padding: 10rem 5rem 0 5rem;
  font-size: 3.2rem;
  font-size: 2rem;
  font-weight: bolder;
}
div.container-4 > p {
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.1rem;
  font-style: italic;
}

div:nth-child(5) {
  background-image: url("images/image-1.jpg");
  background-position: center top;
  color: black;
  background-size: cover;
  background-attachment: fixed;
}

div.container-5 > h3 {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  font-size: 2rem;
  padding: 3rem 3rem 0 3rem;
}

div.container-5 > p {
  font-family: 'Gentium Book Basic', serif;
  padding: 3rem;
  padding-top: 2.5rem;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  position: static;
}

div.container-6 {
  text-align: center;
  background-color: #1e1f26;
}
div.container-9 {
  background-image: url("images/image-5.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
div.container-6 > h3,
div.container-9 > h3 {
  padding: 3rem 3rem 0 3rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
}

div.container-9 > h3 {
  font-weight: bold;
  color: #d93b3b;
}

div.container-6 > p,
div.container-9 > p {
  font-family: 'Raleway';
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1rem;
  color: #e6e6ea;
}
div.container-9 > p {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
  color: #d93b3b;
}

div:nth-child(7) {
  background-image: url("images/image-2.jpg");
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: #672c19;
}
div.container-7 > p {
  font-family: 'Noto Sans';
}
div.container-7 > h3 {
  font-family: 'Fjalla One';
  font-size: 3.2rem;
}
div.container-8 {
  background: #0294a5;
  color: #043054;
}
img {
  height: 3rem;
  position: relative;
  padding-top: 4rem;
  left: 48%;
  font-size: 18px;
}
div.container-8 > h3 {
  font-family: 'Playfair Display', serif;
  padding: 3rem 3rem 0 3rem;
  font-size: 2.5rem;
  text-align: center;
}

div.container-8 > p {
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-right: 0;
  font-size: 1rem;
  text-align: justify;
}
div.container-8 > hr {
  border: 0.02rem dotted #043054;
  border-width: 0.07rem;
  width: 14rem;
  text-align: center;
  margin-bottom: 0;
}

div:nth-child(10) {
  background: #522e75;
  color: #c9bed8;
}
div.container-10 > h3 {
  font-family: 'Abril Fatface', cursive;
  padding: 3rem 3rem 0 3rem;
  font-size: 3rem;
  text-align: center;
  font-size: 5rem;
  text-decoration-line: underline;
}

@media only screen and (min-width: 768px) {
  div {
    padding-top: 12rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  div.container-1 > h1 {
    padding: 0rem 7rem 0 7rem;
    margin: 0;
    font-size: 7rem;
  }
  div.container-1 > p {
    font-size: 1.3rem;
    padding-left: 7rem;
    padding-right: 10rem;
  }
  div.container-1 > p:first-of-type {
    font-size: 2rem;
  }

  div.container-2 > h3,
  p,
  div.container-3 > h3,
  p {
    font-size: 4rem;
    /* padding-left: 6rem; */
    padding-right: 6rem;
  }
  div.container-2 > p {
    font-size: 1.4rem;
  }
  div.container-3 > h3 {
    font-size: 3.2rem;
  }
  div.container-3 > p {
    font-size: 1.3rem;
  }
  div.container-4 > h3 {
    font-size: 3.5rem;
  }
  div.container-4 > p {
    font-size: 1.5rem;
  }

  div.container-5 > h3 {
    font-size: 2.5rem;
  }

  div.container-5 > p {
    font-size: 1.3rem;
  }
  div.container-8 > p {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
  }
  div.container-8 > hr {
    width: 19rem;
  }
  div.container-9 > p {
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 1.7rem;
  }
  div.container-9 > h3 {
    font-size: 3.5rem;
  }
  div.container-6 > p {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}
@media only screen and (min-width: 992px) {
  div.container-1 > h1 {
    padding-top: 7rem;
    font-size: 7rem;
    font-weight: lighter;
    letter-spacing: 0.5rem;
    color: #d0d9dd;
  }
  div.container-1 > p {
    font-size: 1.8rem;
  }
  div.container-2 > h3 {
    font-size: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  div.container-2 > p {
    font-size: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  div.container-3 > h3 {
    font-size: 4.7rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  div.container-3 > p {
    font-size: 1.8rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  div.container-4 > h3 {
    font-size: 4rem;
  }
  div.container-4 > p {
    font-size: 2rem;
  }
  div.container-5 > h3 {
    font-size: 2.7rem;
  }

  div.container-5 > p {
    font-size: 1.5rem;
  }
  div.container-8 > p {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 1rem;
  }
  div.container-8 > hr {
    width: 19rem;
  }

  div.container-6 > p {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
