body {
  margin: 0;
  padding: 0;
  /* perspective: 1px; */
  /* height: 100%; */
  overflow-y: scroll;
}
div.container-1 > h1 {
  padding: 15rem 7rem 0 7rem;
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
  color: #d0d9dd;
}
div.container-1 > p:first-of-type {
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}
div.container-1 > p {
  font-size: 1.3rem;
  padding-left: 7rem;
  padding-right: 10rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #5c7b8b;
}

.container-1 a:link,
.container-1 a:visited,
.container-1 a:hover,
.container-1 a:active {
  color: #5c7b8b;
}

h3 {
  padding-top: 15rem;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
div:nth-child(1) {
  background: #003049;
  color: aliceblue;
}

div:nth-child(2) {
  background: #f1ecd1;
  color: #3b4149;
}
div.container-2 > h3 {
  color: #3b4149;
  font-family: 'Amatic SC';
  padding: 7rem 4rem 0 4rem;
  font-size: 4.5rem;
  font-weight: bold;
}
div.container-2 > p {
  font-family: 'Josefin Sans';
  padding-left: 4rem;
  padding-right: 5rem;
  padding-top: 2.5rem;
  font-size: 1.2rem;

  /* font-size: 1.3rem;
  padding-left: 7rem;
  padding-right: 10rem;
  font-family: 'Open Sans';
  color: #5c7b8b; */
}
.container-2 a:link,
.container-2 a:visited,
.container-2 a:hover,
.container-2 a:active {
  color: #3b4149;
  text-decoration: none;
}
/* div:nth-child(3) {
  background-image: url(/images/image-1.jpg);
  background-position: center;
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */
div.container-3 {
  background-image: url(/images/image-1.jpg);
  background-position: center;
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
div.container-3 > h3 {
  font-family: 'Julius Sans One';
  padding: 7rem 5rem 0 5rem;
  font-size: 3.2rem;
}
div.container-3 > p {
  font-family: 'Archivo Narrow';
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2.5rem;
  font-size: 1rem;
}

div.container-4 {
  background: #d93b3b;
  color: #0b152f;
  font-family: 'Lora', serif;
  text-align: right;
}
hr {
  border: 0.2rem solid #0b152f;
  border-width: 0.1rem;
  width: 10rem;
  text-align: right;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 0;

  /* margin: 3rem auto 0 0; */
}
div.container-4 > h3 {
  padding: 10rem 5rem 0 5rem;
  font-size: 3.2rem;
  font-size: 2rem;
  font-weight: bolder;
}
div.container-4 > p {
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.1rem;
  font-style: italic;
}

div:nth-child(5) {
  background-image: url(/images/image-4.jpg);
  background-position: center top;
  color: black;
  background-size: cover;
  background-attachment: fixed;
}

div.container-6 {
  text-align: center;
  background-color: #1e1f26;
}
div.container-6 > h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 5rem 5rem 0 5rem;
  font-size: 3rem;
  text-align: center;
}

div.container-6 > p {
  font-family: 'Raleway';
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2.5rem;
  font-size: 1rem;
  color: #e6e6ea;
}

.container-6 a:link,
.container-6 a:visited,
.container-6 a:hover,
.container-6 a:active {
  color: inherit;
  text-decoration: none;
}
div:nth-child(7) {
  background-image: url(/images/image-2.jpg);
  background-position: center top;
  color: black;
  background-size: cover;
  background-attachment: fixed;
}

div:nth-child(8) {
  background: #0294a5;
  height: 70vh;
}
div:nth-child(9) {
  background-image: url(/images/image-5.jpg);
  background-position: center top;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
div:nth-child(10) {
  background: #522e75;
}
/* font-family: 'Playfair Display';
font-family: 'Source Sans Pro';
font-family: 'Abril Fatface';
font-family: 'Open Sans';
font-family: 'Julius Sans One';
font-family: 'Archivo Narrow';
font-family: 'Bebas Neue';
font-family: 'Montserrat';
font-family: 'Yeseva One';
font-family: 'Merriweather Sans';
font-family: 'Vidaloka';
font-family: 'Noto Sans';
font-family: 'Fjalla One';
font-family: 'Amatic SC';
font-family: 'Josefin Sans';
font-family: 'Cinzel';
font-family: 'Raleway'; */
@media only screen and (max-width: 768px) {
  div.container-1 > h1 {
    padding: 7rem 4rem 0 4rem;
    font-size: 4rem;
    font-weight: lighter;
    letter-spacing: 0.5rem;
  }
  div.container-1 > p:first-of-type {
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
  }
  div.container-1 > p {
    font-size: 1rem;
    padding-left: 4rem;
    padding-right: 5rem;
  }
}
